@model WatchStore.Models.ViewWatch

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Css/detail.css" />


    <h2>Watch Detail</h2>

<body>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Watch.NameWatch)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Watch.NameWatch)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Watch.IDSupplier)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SupplierName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Watch.Brand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Watch.Origin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Origin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Watch.Image)
            </dt>

            <dd>
                <img src="@Html.DisplayFor(model => model.Watch.Image)" alt="thumbnail">
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Watch.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Watch.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Watch.Status)
            </dt>

            @*            <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Watch.IDProductFor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductFor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Watch.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Watch.Content)
            </dd>

        </dl>
    </div>
</body>

