@using PagedList.Mvc;
@using PagedList;
@model IPagedList<WatchStore.Models.Watch>
@{
    ViewBag.Title = "DongHoNam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/text.css" rel="stylesheet" />
<h2>Đồng Hồ Nam</h2>
<p>
    @Html.ActionLink("Tạo Mới", "TaoDongHo")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
            <div class="card-group">
                <div class="card">
                    <a href="@Url.Action("Detail", "Watch", new { id = item.IDWatch })" class="text-decoration-none text-reset">
                        <div class="zoomin ">

                            <img class="card-img-top" src="@item.Image">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-truncate">@item.NameWatch</h5>@*text-truncate giới hạn chữ hiện *@
                            <p class="text-truncate"><strong>Nhà Sản Xuất: </strong>@item.Supplier.NameSupplier</p>
                            <p class="text-truncate"><strong>Thương Hiệu: </strong>@item.Brand.NameBrand</p>
                            <p><strong>Giá: </strong>@item.Price</p>

                        </div>
                    </a>
                    <div class="card-footer clearfix">
                        <div class="text-center">
                            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",new { @id = item.IDWatch, @strURL = Request.Url.ToString() })">Đặt mua</a>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    }
</div>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div style="display:inline-block">
    @Html.ActionLink("Về Trang Chủ", "Index", "Watch", new { @class = "btn btn-success" })
    @Html.PagedListPager(Model, page => Url.Action("DongHoNam", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

