@model IEnumerable<WatchStore.Models.Watch>

@{
    ViewBag.Title = "DHNu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Đông Hồ Nữ</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameWatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDSupplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDOrigin)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Image)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDProductFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>
    @using (Html.BeginForm())
    {
        <p>
            <label>Sắp xếp theo:</label>
            @Html.DropDownList("OrderBy", new SelectList(new Dictionary<string, string>
            {
                { "Name_asc", "Tên sản phẩm: A-Z" },
                { "Name_desc", "Tên sản phẩm: Z-A" },
                { "Price_asc", "Giá: Thấp đến cao" },
                { "Price_desc", "Giá: Cao đến thấp" }
            }, "Key", "Value"), new { onchange = "this.form.submit();" })
        </p>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameWatch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDOrigin)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDProductFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDWatch }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDWatch })
            </td>
        </tr>
    }

</table>
